
  .div-1 {background-color: rgb(142, 138, 194);} 
  
  .div-2 {background-color: rgb(240, 150, 117);}

  .div-3{background-color: springgreen;}

  .div-4{background-color: rgb(109, 103, 28);}

  .div-5{background-color: dimgrey;}